<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/explore-the-ethereal-ai">Home</a></li>
	        	<li><a href="/explore-the-ethereal-ai/about">About</a></li>
        		<li><a href="/explore-the-ethereal-ai/cv">CV</a></li>
        		<li><a href="/explore-the-ethereal-ai/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hafizhmakmurb@gmail.com">email</a></li>
        		<li><a href="https://github.com/hafizhmakmur">github.com/hafizhmakmur</a></li>
			</ul>
		</footer>
	</body>
</html>
